<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClassNames</key>
	<array>
		<string>TestStringInput</string>
		<string>TestUnicharEscapeSquence</string>
		<string>TestFileInput</string>
		<string>TestFragementedInput</string>
		<string>TestRemoteRequest</string>
		<string>TestCustomObjects</string>
	</array>
</dict>
</plist>
