<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Classes</key>
	<array>
		<dict>
			<key>class</key>
			<string>TestStringInput</string>
			<key>name</key>
			<string>String Input</string>
		</dict>
		<dict>
			<key>class</key>
			<string>TestUnicharEscapeSquence</string>
			<key>name</key>
			<string>Unichar Escape Squence</string>
		</dict>
		<dict>
			<key>class</key>
			<string>TestStringEncodings</string>
			<key>name</key>
			<string>String Encodings</string>
		</dict>
		<dict>
			<key>class</key>
			<string>TestFileInput</string>
			<key>name</key>
			<string>File Input</string>
		</dict>
		<dict>
			<key>class</key>
			<string>TestFragementedInput</string>
			<key>name</key>
			<string>Fragemented Input</string>
		</dict>
		<dict>
			<key>class</key>
			<string>TestFunctionAndBlockInput</string>
			<key>name</key>
			<string>Function and Block Input</string>
		</dict>
		<dict>
			<key>class</key>
			<string>TestRemoteRequest</string>
			<key>name</key>
			<string>Remote Request Input</string>
			<key>enabled</key>
			<false/>
		</dict>
		<dict>
			<key>class</key>
			<string>TestCustomObjects</string>
			<key>name</key>
			<string>Custom Objects Output</string>
		</dict>
		<dict>
			<key>class</key>
			<string>TestNDJSONCoreData</string>
			<key>name</key>
			<string>CoreData Output</string>
		</dict>
		<dict>
			<key>class</key>
			<string>TestMechanismChange</string>
			<key>name</key>
			<string>Change of Parse Output method</string>
		</dict>
	</array>
</dict>
</plist>
